*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  display: grid;
  grid-template-rows: auto minmax(100%, 100vh) auto;
  height: 900vh;
  background-color: rgb(0, 51, 110);
}
nav ul li {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  transition: ease-in-out background-color 0.2s, ease-in-out border 0.2s;
  /* position: sticky;             */
  font-family: Arial black, Arial, Helvetica, sans-serif;
  margin-inline: 2px;
}
nav ul li:hover {
  background-color: rgb(0, 179, 255);
  border: 2px solid rgb(0, 179, 255);
}
/* div {
    font-family:Arial black, Arial, Helvetica, sans-serif;
 } */
img {
  border: 10px solid white;
  float: left;
  margin-right: 15px;
  border-radius: 800%;
  max-height: 500px;
  opacity: 80%;
  width: 400px;
  height: 400px;
}
.g-col {
  max-width: 320px;
  float: left;
  border-radius: 10px;
  border: white;
}
span {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}
main {
  height: 90vh;
}
#home {
  /* linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.8)), */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaC1BoR74UFYTGmVDTkkn4QwNTma0ar09yA9JMLNBPUtFP85Brl0Gn9iUDXROZx7mKF6HSbU4_sRfbYj5aYaCQj1mm9uZQ=w1227-h932")
      no-repeat;
  background-size: cover;
}
/* .col {
padding-top: 5rem;
} */
/* About */
#about {
  background: url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaDrZQPVFt5tmO6QtmHmNZsWl1dbNB_9cQSvdVZ0WvCGt6rADMsXcXdLnHAUrJxxrDPaqIRfbXIMKpcgOfeth8jy1glu=w1227-h932")
    no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* border: 2px solid rgb(71, 170, 60) ; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  /* align-items: center;
    border: 2px solid red; */
}
.about-me {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  /* border: 2px solid red; */
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.card {
  width: 400px;
  height: 300px;
  perspective: 1000%;
  margin: 0 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000%;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2%;
}
.front {
  background-color: #1148c0;
  color: rgb(22, 88, 153);
}
.back {
  background-color: rgb(22, 88, 153);
  color: rgb(22, 88, 153);
  transform: rotateY(180deg);
}
.arial {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
}
.arial h2 {
  font-size: 10rem;
}
.display-1 {
  font-size: 4rem;
  font-weight: bolder;
}

#workED {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
  url("https://lh3.googleusercontent.com/u/0/drive-viewer/AK7aPaAHq-nl09dDz_Yc2Q300Sd87Uai0k7DuMh24RyswwD8bs9FeWHcLUh3xJ05bdUdBiN3plic85ExP7nUpRn1cxqFBzoaUw=w1227-h932")
    no-repeat;
background-size: cover;
}
